{% extends './navbar.html' %}
{% load static %}

{% block css %}
    <link rel='stylesheet' href="{% static 'blog/css/base.css' %}?after">
    <link rel='stylesheet' href="{% static 'blog/css/post_detail.css' %}">
{% endblock css %}

{% block post_container %}
<div class='post-detail'>
    <div>
        <h2 class='post-detail-left'> {{ post.title }} </h2>
        <br>
        <div class='post-detail-left' style='margin-top:20px'> {{ post.content }} </div>
        {% if post.image1 %}
        <div class='image' style='margin-top:20px'> <img src="{{ post.image1.url }}"> </div>
        {% endif %}
        {% if post.image2 %}
        <div class='image' style='margin-top:20px'> <img src="{{ post.image1.url }}"> </div>
        {% endif %}
        {% if post.image3 %}
        <div class='image' style='margin-top:20px'> <img src="{{ post.image1.url }}"> </div>
        {% endif %}
    </div>
    <div>
        <div class='member'> {{ post.member }}명이 {{ post.place }}에서</div>
        <div class='dt_created'> {{ post.dt_created | date:"Y.m.d" }} </div>
        <div class='name'> {{ post.user.name }} <img style="width:20px; heigh:20px;" src="{{ post.user.profile.profile_pic.url }}"></div>
    </div>
</div>

{% if user == post.user %}
<a href="{% url 'post-update' post.id %}">수정하기</a>
<a href="{% url 'post-delete' post.id %}">삭제하기</a>
{% endif %}
<hr>

{% block comment %}

{% if comments %}
    {% for comment in comments %}
    <p> {{comment.message}}  -{{comment.user.nickname}}-
    {% if comment.user == user %}
        <a href="{% url 'comment_delete' post.id comment.id %}">삭제</a>
    {% endif %}
    </p>
    {% endfor %}
{% endif %}

{% if user.is_authenticated %}
<form method="POST">{% csrf_token %}
    <br>
    <h5>댓글쓰기</h5>
    <p>{{form.message}}</p>
    
    <input type='hidden' name='user' value={{user.id}} >
    <input type='hidden' name='post' value={{post.id}} >

    <input type='submit' value='입력'>
</form>
{% endif %}
{% endblock comment %}

{% endblock post_container %}