{% extends './navbar.html' %}
{% load static %}
{% load widget_tweaks %}
{% block css %}
    <link rel='stylesheet' href="{% static 'blog/css/base.css' %}?after">
    <link rel='stylesheet' href="{% static 'blog/css/post_form.css' %}?after">
{% endblock css %}

{% block post_container %}

<form method="post" autocomplete='off' enctype='multipart/form-data'>{% csrf_token %}
    <!-- {{form.as_p}} -->
    
    
    <h3>제목</h3>
    <p>{{form.title}}</p>
    {% for error in form.title.errors %}
        <p>{{error}}</p>
    {% endfor %}
    
    <h3>내용</h3>
    <p>{{form.content}}</p>
    {% for error in form.content.errors %}
        <p>{{error}}</p>
    {% endfor %}
    
    <h3>장소</h3>
    <p>{{form.place}}</p>
    {% for error in form.place.errors %}
        <p>{{error}}</p>
    {% endfor %}
    
    <h3>멤버</h3>
    {% for radio in form.member %}
        {{ radio }}
    {% endfor %}
    {% for error in form.member.errors %}
        <p>{{error}}</p>
    {% endfor %}
    <br>
    <br>
    <h3>사진</h3>
    <p>{{form.image1}}</p>
    <p>{{form.image2}}</p>
    <p>{{form.image3}}</p>
    
    <input type='hidden' name='user' value={{user.id}} >
    
    <input type='submit' value='완료'>
</form>

{% endblock post_container %}